<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="Content-Security-Policy"
		  content="default-src * data: gap: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
	<script src="components/monaca-jquery/jquery.js"></script>
	<script src="components/loader.js"></script>


	<script src="lib/minilog3.1.0.js"></script>
	<script>
		let logger = Minilog('app');
		Minilog.pipe(Minilog.backends.array);
		Minilog.enable();
	</script>
	<script src="lib/lodash-4.17.4.js"></script>
	<script src="lib/openpgp.js"></script>
	<script src="lib/aws-cognito-sdk.min.js"></script>
	<script src="lib/amazon-cognito-identity.min.js"></script>
	<script src="lib/aws-sdk-2.171.0.js"></script>
	<script src="lib/axios-0.17.1.min.js"></script>
	<script src="lib/localforage.min.js"></script>
	<script src="lib/moment.min.js"></script>
	<script src="lib/vue-2.5.13.js"></script>
	<script src="lib/qrious-4.0.2.min.js"></script>
	<script src="lib/vuetify-0.17.6.js"></script>


	<!-- source files -->
	<script src="src/constants.js"></script>
	<script src="src/user.js"></script>
	<script src="src/messagelist.js"></script>
	<script src="src/message.js"></script>
    <script src="src/activity.js"></script>
	<script src="src/datastorage.js"></script>
	<script>
		let store = new DataStorage();
	</script>
	<script src="src/channels.js"></script>

	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
	<link href="css/vuetify-0.17.6.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/materialdesignicons-2.1.19.min.css" media="all" type="text/css" />

	<link rel="stylesheet" href="components/loader.css">
	<link rel="stylesheet" href="css/style.css">


	<style>
		[v-cloak] {
			display: none;
		}

		div#app, .fade-background {
			background: #483ebb;
			background: -moz-linear-gradient(45deg, #483ebb 0%, #2989d8 100%, #207cca 100%, #79a1e7 100%, #2989d8 100%);
			background: -webkit-linear-gradient(45deg, #483ebb 0%, #2989d8 100%, #207cca 100%, #79a1e7 100%, #2989d8 100%);
			background: linear-gradient(45deg, #483ebb 0%, #2989d8 100%, #207cca 100%, #79a1e7 100%, #2989d8 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#483ebb', endColorstr='#2989d8', GradientType=1);
		}

		.local-rounded-button {
			border-radius: 50px;
			-moz-border-radius: 50px;
			-webkit-border-radius: 50px;
			border: 1px solid white;
			width: 100%;
			color: #483ebb;
			text-align: center;
			background-color: white;
			font-size: x-large;
			height: 60px;
			padding-top: 10px;
			cursor: pointer;
		}


        .message-out {
            position: relative;
            background: #483EBB;
            border-radius: .4em;
            color: white;
            float: right;
            padding: 5px;
            font-size: smaller;
        }

        .message-out:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 95%;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-top-color: #483EBB;
            border-bottom: 0;
            border-right: 0;
            margin-left: -10px;
            margin-bottom: -10px;
        }

        .message-in {
            position: relative;
            background: #E8EDF3;
            border-radius: .4em;
            float: left;
            padding: 5px;
            font-size: smaller;
        }

        .message-in:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 5%;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-top-color: #E8EDF3;
            border-bottom: 0;
            border-left: 0;
            margin-left: -10px;
            margin-bottom: -10px;
        }

		.white-container {
			background: white;
			height: 100%;
		}
	</style>

	<script>
		$(function () {

		});
	</script>

</head>
<body>
<div id="app">
	<v-app v-cloak>
		<v-toolbar class="fade-background" dark v-if="page_visible >= PAGE_MAIN_LIST">
			<v-btn icon v-show="page_visible > PAGE_MAIN_LIST && page_visible <= PAGE_SETTINGS" @click="page_visible=PAGE_MAIN_LIST">
				<v-icon>home</v-icon>
			</v-btn>

			<v-btn icon v-show="page_visible > PAGE_LOGIN && page_visible < PAGE_MAIN_LIST"
				   @click="page_visible=PAGE_LOGIN">
				<v-icon>keyboard_arrow_left</v-icon>
			</v-btn>

            <v-btn icon v-show="page_visible > PAGE_SETTINGS"
                   @click="page_visible=PAGE_SETTINGS">
                <v-icon>keyboard_arrow_left</v-icon>
            </v-btn>

			<v-toolbar-title>CliniCoin</v-toolbar-title>

			<v-spacer></v-spacer>
            <v-icon v-if="is_updating">swap_vert</v-icon>
			<v-btn icon v-show="page_visible == PAGE_MAIN_LIST" @click="page_visible=PAGE_SETTINGS">
				<v-icon>settings</v-icon>
			</v-btn>
		</v-toolbar>

		<v-content>
			<v-container fluid v-show="page_visible==PAGE_INITIAL">
				<div style="height: 100%; width: 100%;">
					<div style="margin-top: 47%;">
						<img src="img/logo.png" style="width: 72%; margin-left: 12%;">
					</div>

					<div class="text-xs-center" style="margin-top: 58%; padding-left: 10%; padding-right: 10%;">
						<div class="local-rounded-button" style="" @click="page_visible = PAGE_TOUR">
							New To Clinicoin
						</div>
					</div>
					<div class="text-xs-center" style="margin-top: 5%; padding-left: 10%; padding-right: 10%;">
						<div class="local-rounded-button"
							 style="background-color: transparent; color: white; border-color: white;"
							 @click="page_visible = PAGE_LOGIN">
							Sign In
						</div>
					</div>
				</div>

				<v-footer color="transparent" absolute fixed>
					<div style="text-align: center; width: 100%; color:white;">
						&copy; 2018 Mosio&trade; and Clinicoin&trade;
					</div>
				</v-footer>
			</v-container>
			<v-container fluid v-show="page_visible==PAGE_TOUR">
				<v-carousel id="carousel" v-bind:cycle="false">
					<v-carousel-item src="img/tour1.png" key="1"></v-carousel-item>
					<v-carousel-item src="img/tour2.png" key="2"></v-carousel-item>
					<v-carousel-item src="img/tour3.png" key="3"></v-carousel-item>
					<v-carousel-item src="img/tour4.png" key="4"></v-carousel-item>
				</v-carousel>
				<div class="text-xs-center" style="margin-top: 20%; padding-left: 10%; padding-right: 10%;">
					<div class="local-rounded-button" style="" @click="changeCarouselItem">
						Continue
					</div>
				</div>
				<div class="text-xs-center" style="margin-top: 5%; padding-left: 10%; padding-right: 10%;">
					<div class="local-rounded-button"
						 style="background-color: transparent; color: white; border-color: white;"
						 @click="page_visible = PAGE_REGISTER">
						Get Started
					</div>
				</div>
			</v-container>
			<v-container fluid id="conLogin" v-show="page_visible==PAGE_LOGIN">
                <v-btn icon light color="white" @click="page_visible=PAGE_INITIAL">
                    <v-icon>keyboard_arrow_left</v-icon>
                </v-btn>
				<div style="margin-top: 50%;">
					<img src="img/logo.png" style="width: 72%; margin-left: 12%;">
				</div>

				<div style="text-align:center; font-size:xx-large; font-weight: bold; margin-bottom:20px; color:white;">
					Sign In
				</div>

				<div style="text-align:center;">
					<v-card>
						<v-card-text>
							<v-text-field label="Username" ref="login_username" id="login_username" v-bind:disabled="is_username_disabled" v-model="username"></v-text-field>

							<v-text-field
									label="Password"
									id="login_password"
									type="password"
									v-model="password"
									:append-icon="login_pw_visible ? 'visibility_off' : 'visibility'"
									:append-icon-cb="() => (login_pw_visible = !login_pw_visible)"
									:type="login_pw_visible ? 'text' : 'password'"
							></v-text-field>
						</v-card-text>
					</v-card>
					<div>
						<v-btn id="btnForgot" flat dark @click="showforgotPasswordConfirm">Forgot Password</v-btn>
					</div>

					<div class="text-xs-center" style="margin-top: 5%; padding-left: 10%; padding-right: 10%;">
						<div id="btnLogin"
							 class="local-rounded-button"
							 style="background-color: transparent; color: white; border-color: white;"
							 @click="loginUser">
							Sign In
						</div>
					</div>

					<div>
						<v-btn id="btnFrontLogout" flat dark @click="logoutUser" v-if="is_username_disabled" style="margin-top: 30px;">Global Logout</v-btn>
					</div>
				</div>
			</v-container>

			<v-dialog v-model="show_forgot_password_dialog" max-width="290">
				<v-card>
					<v-card-title class="headline">Really reset password?</v-card-title>
					<v-card-text>You will receive an email with a code to enter in the next step.</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn id="btnSendForgotPassword" color="green darken-1" flat="flat" @click="sendforgotPassword">Continue</v-btn>
						<v-btn id="btnCancelForgotPassword" color="red darken-1" flat="flat" @click="cancelForgotPassword">Cancel</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>

			<v-container fluid id="conResetPassword" v-show="page_visible==PAGE_RESET_PASSWORD">
				<div style="margin-top: 5%;">
					<img src="img/logo.png" style="width: 72%; margin-left: 12%;">
				</div>

				<div style="text-align:center; font-size:xx-large; font-weight: bold; margin-bottom:20px; color:white;">
					Reset Password
				</div>

				<v-card color="grey lighten-4" flat>
					<v-card-text>
						<v-text-field
								label="Reset Code"
								hint="6-digit code sent to you"
								id="reset_code"
								v-model="reset_code"
								mask="######"
								v-bind:rules="[()=>{ return reset_code.length==0 ? 'Reset code is required' : true; }]"
						></v-text-field>
						<v-text-field
								label="Password"
								id="reset_password"
								type="password"
								v-model="password"
								hint="At least 8 characters, a number, upper- and lower-case, and a special character"
								:append-icon="register_pw_visible ? 'visibility_off' : 'visibility'"
								:append-icon-cb="() => (register_pw_visible = !register_pw_visible)"
								:type="register_pw_visible ? 'text' : 'password'"
								v-bind:rules="[isPasswordComplex]"
						></v-text-field>
						<v-text-field
								label="Confirmation"
								id="reset_confirm"
								v-model="confirm"
								type="password"
								hint="Must match the password"
								:append-icon="register_confirm_visible ? 'visibility_off' : 'visibility'"
								:append-icon-cb="() => (register_confirm_visible = !register_confirm_visible)"
								:type="register_confirm_visible ? 'text' : 'password'"
								v-bind:rules="[isPasswordAndConfirmMatched]"
						></v-text-field>
					</v-card-text>
				</v-card>

				<div class="text-xs-center" style="margin-top: 5%; padding-left: 10%; padding-right: 10%;">
					<div class="local-rounded-button"
                         id="btnReset"
						 style="background-color: transparent; color: white; border-color: white;"
						 @click="resetForgotPassword">
						Reset Password
					</div>
				</div>
			</v-container>

			<v-container fluid id="conRegister" v-show="page_visible==PAGE_REGISTER">
				<div style="margin-top: 5%;">
					<img src="img/logo.png" style="width: 72%; margin-left: 12%;">
				</div>

				<div style="text-align:center; font-size:xx-large; font-weight: bold; margin-bottom:20px; color:white;">
					Register
				</div>

				<v-card color="grey lighten-4" flat>
					<v-card-text>
						<v-text-field id="reg_email" label="Email" prepend-icon="mail_outline" v-model="email"></v-text-field>
						<v-text-field id="reg_phone" label="Phone" prepend-icon="phone" v-model="phone"></v-text-field>
						<v-text-field id="reg_username" label="Username" prepend-icon="account_box" v-model="username"></v-text-field>
						<v-text-field
								label="Password"
								id="reg_password"
								type="password"
								v-model="password"
								hint="At least 8 characters, a number, upper- and lower-case, and a special character"
								:append-icon="register_pw_visible ? 'visibility_off' : 'visibility'"
								:append-icon-cb="() => (register_pw_visible = !register_pw_visible)"
								:type="register_pw_visible ? 'text' : 'password'"
								v-bind:rules="[isPasswordComplex]"
						></v-text-field>
						<v-text-field
								label="Confirmation"
								id="reg_confirm"
								v-model="confirm"
								type="password"
								hint="Must match the password"
								:append-icon="register_confirm_visible ? 'visibility_off' : 'visibility'"
								:append-icon-cb="() => (register_confirm_visible = !register_confirm_visible)"
								:type="register_confirm_visible ? 'text' : 'password'"
								v-bind:rules="[isPasswordAndConfirmMatched]"
						></v-text-field>
					</v-card-text>
				</v-card>
				<div class="text-xs-center" style="margin-top: 5%; padding-left: 10%; padding-right: 10%;">
					<div class="local-rounded-button" id="btnRegister"
						 style="background-color: transparent; color: white; border-color: white;"
						 @click="registerUser">
						Sign Up
					</div>
				</div>
				<div style="margin-top: 50px;">
					<div style="text-align: center; color: white; font-size: large; cursor: pointer;"
						 @click="page_visible=PAGE_LOGIN">
						Already have an account? <span style="font-weight: bold;">Sign In</span>
					</div>
				</div>
			</v-container>

			<v-container fluid id="conConfirmRegistration" v-show="page_visible==PAGE_REGISTER_VERIFY">
				<div style="margin-top: 5%;">
					<img src="img/logo.png" style="width: 72%; margin-left: 12%;">
				</div>

				<div style="text-align:center; font-size:xx-large; font-weight: bold; margin-bottom:20px; color:white; margin-top: 100px;">
					Confirm Registration
				</div>

				<v-card color="grey lighten-4" flat>
					<v-card-text>
						<v-text-field
								label="Registration Code"
								hint="6-digit code sent to you"
								id="register_code"
								v-model="register_code"
								mask="######"
								v-bind:rules="[()=>{ return register_code.length==0 ? 'Reset code is required' : true; }]"
						></v-text-field>
					</v-card-text>
				</v-card>

				<div class="text-xs-center" style="margin-top: 10%; padding-left: 10%; padding-right: 10%;">
					<div id="btnConfirmRegistration"
                         class="local-rounded-button"
                         style=""
                         @click="confirmUserRegistration">
						Enter Confirmation
					</div>
				</div>
				<div class="text-xs-center" style="margin-top: 15%; padding-left: 10%; padding-right: 10%;">
					<div id="divResendConfirmation"
                         class="local-rounded-button"
						 style="background-color: transparent; color: white; border-color: white;"
						 @click="resendConfirmation">
						Re-Send Confirmation
					</div>
				</div>
			</v-container>

			<v-container fluid id="conMainList" v-show="page_visible==PAGE_MAIN_LIST" class="white-container">

				<v-list two-line>
					<template v-for="(item, index) in channels">
						<v-list-tile :key="item.title" ripple @click="messageListSelected(item.username)">
							<v-list-tile-content>
								<v-list-tile-title>{{ item.title }}</v-list-tile-title>
								<v-list-tile-sub-title class="grey--text text--darken-4">{{ item.headline }}</v-list-tile-sub-title>
								<v-list-tile-sub-title>{{ item.subtitle }}</v-list-tile-sub-title>
							</v-list-tile-content>
							<v-list-tile-action>
								<v-list-tile-action-text>{{ item.message_time }}</v-list-tile-action-text>
								<v-icon
									color="grey lighten-1"
									v-if="item.isRead"
								>mail_outline</v-icon>
								<v-icon
										color="yellow darken-2"
										v-else
								>mail</v-icon>
							</v-list-tile-action>
						</v-list-tile>
						<v-divider v-if="index + 1 < channels.length" :key="item.title + '-separator'"></v-divider>
					</template>
				</v-list>


				<v-speed-dial bottom fixed right>
					<v-btn slot="activator" color="blue darken-2" dark fab hover large>
						<v-icon>account_circle</v-icon>
						<v-icon>close</v-icon>
					</v-btn>
					<v-btn fab dark color="green" @click="showActivity">
						<v-icon>mdi-run</v-icon>
					</v-btn>
					<v-btn fab dark color="indigo" @click="showAddConnection">
						<v-icon>mdi-account-plus</v-icon>
					</v-btn>
				</v-speed-dial>
			</v-container>

			<v-container fluid id="conMessages" v-show="page_visible==PAGE_MESSAGING" class="white-container">

                <div style="text-align:center; font-size:large; margin-bottom:20px;">{{active_channel.friendly_name}}</div>

				<div id="messaging_list" style="height: 80%; overflow-y: auto;">
					<v-list>
						<template v-for="item in active_channel.messages">
							<v-list-tile v-show="item.Sender==currentUserData.username">
								<div style="width:100%;">
									<div class="message-out">
										{{ item.Body }}
									</div>
								</div>
							</v-list-tile>
							<v-list-tile v-show="item.Sender!=currentUserData.username">
								<div style="width:100%;">
									<div class="message-in">
										{{ item.Body }}
									</div>
								</div>
							</v-list-tile>
						</template>
					</v-list>
				</div>
				<v-footer style="background-color:white;" v-bind:app="true">

                    <v-btn icon disabled>
                        <v-icon>photo_camera</v-icon>
                    </v-btn>

                    <v-text-field
                            label="Message"
                            auto-grow
                            light
                            v-model="outgoing_message"
                    ></v-text-field>

					<v-btn fab small dark color="indigo" @click="sendUserMessage">
						<v-icon>send</v-icon>
					</v-btn>
				</v-footer>
			</v-container>

			<v-container fluid id="conSettings" v-show="page_visible==PAGE_CONNECT" class="white-container">
				<div style="text-align:center; font-size:large; margin-bottom:20px;">Connect With People</div>

                <div style="text-align:center;">
                    <v-btn id="btnShowQR" outline color="indigo" @click="showQRCode">Show My QR Code</v-btn>
                </div>

				<div style="text-align:center;">
					<v-btn outline color="indigo" @click="showScanBarcode">Scan QR Code</v-btn>
				</div>

				<v-text-field label="Clinicoin URL" v-model="add_name"></v-text-field>

				<div style="text-align:center;">
					<v-btn id="btnConnectUser" color="primary" @click="connectUser">Connect</v-btn>
				</div>
			</v-container>

			<v-container fluid id="conSettings" v-show="page_visible==PAGE_QRCODE" class="white-container">
				<div style="text-align: center; margin-top: 100px;">
					<canvas id="qr"></canvas>
				</div>
			</v-container>

			<v-container fluid id="conSettings" v-show="page_visible==PAGE_ACTIVITY" class="white-container" style="background-color: #EDF2F8;">
				<div style="text-align:center; font-size:large; margin-bottom:20px;">Activity</div>
                <div>What did you do today?</div>
                <v-card hover>
                    <v-card-text>
                        <v-layout row wrap>
                            <v-flex xs2 sm2 md1 lg1>
                                <div style="margin-top: 15px;">Today I</div>
                            </v-flex>

                            <v-flex xs9 sm8 md6 lg6>
                                <v-select v-bind:items="activity_type_list" label="Activity" editable item-value="activity_type" v-model="activity_type"></v-select>
                            </v-flex>

                            <v-flex xs1 sm1 md1 lg1>
                                <div style="margin-left: 10px; margin-top: 15px;">for</div>
                            </v-flex>
                        </v-layout>

                        <v-layout row wrap>
                            <v-flex xs6 sm6 md6 lg6>
                                <v-select type="numeric" v-bind:items="activity_amount_list" label="Amount" editable item-value="activity_amount" v-model="activity_amount"></v-select>
                            </v-flex>
                            <v-flex xs6 sm6 md6 lg6>
                                <v-select v-bind:items="activity_unit_list" label="Activity" editable item-value="activity_unit" v-model="activity_unit" style="margin-left: 10px;"></v-select>
                            </v-flex>
                        </v-layout>

                    <div class="text-xs-center" style="margin-top: 10%; padding-left: 10%; padding-right: 10%;">
                        <div class="local-rounded-button" style="color:white; background-color: #483ebb;" @click="logActivity">
                            Log Activity
                        </div>
                    </div>
                    </v-card-text>
                </v-card>

                <div style="margin-top: 30px;">Activity History</div>
                <div style="height: 40%; overflow-y: auto;">
                    <template v-for="item in user_activity_history">
                        <v-card raised>
                            <v-card-text>
                                <div class="title">{{ item.getActivityLine() }}</div>
                                <div class="caption">{{ item.getFriendlyTime() }}</div>
                            </v-card-text>
                        </v-card>
                        <div style="margin-top: 10px;"></div>
                    </template>
                    <template v-if="user_activity_history.length == 0">
                        <v-card raised>
                            <v-card-text>
                                <div class="caption">No activities yet</div>
                            </v-card-text>
                        </v-card>
                    </template>
                </div>
			</v-container>

            <v-container fluid id="conSettings" v-show="page_visible==PAGE_SETTINGS" class="white-container">
                <div style="text-align:center; font-size:large; margin-bottom:20px;">Settings</div>

                <v-card flat>
                    <v-card-text>
                        <div class="title">{{ real_name }}</div>
                        <div class="caption">{{ email }}</div>
                    </v-card-text>
                </v-card>

                <v-list>
                    <v-list-tile @click="page_visible=PAGE_ACCOUNT_SETTINGS">
                        <v-list-tile-avatar>
                            <v-btn fab dark small color="green">
                                <v-icon>face</v-icon>
                            </v-btn>
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>My Account</v-list-tile-title>
                        </v-list-tile-content>

                        <v-list-tile-action>
                            <v-btn flat icon color="green">
                                <v-icon>chevron_right</v-icon>
                            </v-btn>
                        </v-list-tile-action>
                    </v-list-tile>

                    <v-spacer class="mb-4"></v-spacer>

                    <v-list-tile>
                        <v-list-tile-avatar>
                            <v-btn fab dark small color="red">
                                <v-icon>add_alert</v-icon>
                            </v-btn>
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>Notifications</v-list-tile-title>
                        </v-list-tile-content>

                    </v-list-tile>

                    <v-spacer class="mb-2"></v-spacer>
                    <v-divider></v-divider>
                    <v-spacer class="mb-2"></v-spacer>

                    <v-list-tile @click="page_visible = PAGE_SUPPORT">
                        <v-list-tile-avatar>
                            <v-btn fab dark small color="orange">
                                <v-icon>build</v-icon>
                            </v-btn>
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>Support</v-list-tile-title>
                        </v-list-tile-content>

                        <v-list-tile-action>
                            <v-btn flat icon color="orange">
                                <v-icon>chevron_right</v-icon>
                            </v-btn>
                        </v-list-tile-action>
                    </v-list-tile>

                    <v-spacer class="mb-2"></v-spacer>
                    <v-divider></v-divider>
                    <v-spacer class="mb-2"></v-spacer>

                    <v-list-tile @click="page_visible=PAGE_ABOUT">
                        <v-list-tile-avatar>
                            <v-btn fab dark small color="blue">
                                <v-icon>info</v-icon>
                            </v-btn>
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                            <v-list-tile-title>About</v-list-tile-title>
                        </v-list-tile-content>

                        <v-list-tile-action>
                            <v-btn flat icon color="blue">
                                <v-icon>chevron_right</v-icon>
                            </v-btn>
                        </v-list-tile-action>
                    </v-list-tile>
                </v-list>

                <div class="text-xs-center" style="margin-top: 20%; padding-left: 10%; padding-right: 10%;">
                    <v-btn round color="error" dark @click="logoutUser"><v-icon>cloud_off</v-icon> Sign Out</v-btn>
                </div>


            </v-container>

			<v-container fluid id="conSettings" v-show="page_visible==PAGE_ACCOUNT_SETTINGS" class="white-container">
				<div style="text-align:center; font-size:large; margin-bottom:20px;">Settings</div>

				<v-text-field label="Email" v-model="email"></v-text-field>
				<v-text-field label="Phone" v-model="phone"></v-text-field>
				<div style="text-align:center;">
					<v-btn flat>Update Settings</v-btn>
				</div>

				<div style="padding: 30px;"></div>
				<v-text-field label="Password" id="settings_password" type="password" v-model="password"></v-text-field>
				<v-text-field label="Confirmation" id="settings_confirm" type="confirm"
							  v-model="confirm"></v-text-field>

				<div style="text-align:center;">
					<v-btn flat>Change Password</v-btn>
				</div>
			</v-container>

            <v-container fluid v-show="page_visible==PAGE_SUPPORT" class="white-container">
                <div style="text-align:center; font-size:large; margin-bottom:20px;">Support</div>
                <v-text-field label="Subject" v-model="support_subject"></v-text-field>
                <v-text-field light multi-line label="Message" v-model="support_message"></v-text-field>
                <div style="text-align:center;">
                    <v-btn color="primary" @click="sendSupportMessage">Send Support Message</v-btn>
                </div>
            </v-container>

            <v-container fluid v-show="page_visible==PAGE_ABOUT" class="white-container">
                <div style="text-align:center; font-size:large; margin-bottom:20px;">About</div>

            </v-container>

			<v-snackbar id="errorSnack" bottom color="red" :timeout=5000 v-model="show_error_toast_value">
				{{ error_message }}
			</v-snackbar>
			<v-snackbar id="infoSnack" bottom color="blue" :timeout=5000 v-model="show_info_toast_value">
				{{ info_message }}
			</v-snackbar>
			<v-snackbar id="successSnack" bottom color="green" :timeout=5000 v-model="show_success_toast_value">
				{{ success_message }}
			</v-snackbar>

			<v-layout style="position: absolute; top:30%; left:30%; z-index: 100000;" v-if="show_spinner">
				<v-progress-circular indeterminate v-bind:size="200" v-bind:width="10"
									 color="grey"></v-progress-circular>
			</v-layout>
		</v-content>
	</v-app>
</div>

<div id="mocha" style="display: none;"></div>
</body>
</html>


<script>
	let current_message_list = {};
	let sandbox = null;
	let assert = null;

	$(function() {
		for(let i=1; i <= 100; i++) {
			vm.activity_amount_list.push(i);
        }
	});

	function interface_test()
	{
		let head = document.getElementsByTagName('head')[0];
		let css = document.createElement("link");

		css.rel = 'stylesheet';
		css.type = 'text/css';
		css.href = 'https://cdn.rawgit.com/mochajs/mocha/2.2.5/mocha.css';
		head.appendChild(css);

		let js = document.createElement("script");
		js.src = "../test/sinon-4.1.3.js";
		head.appendChild(js);

		js = document.createElement("script");
		js.src = "../test/test_utilities.js";
		head.appendChild(js);

		js = document.createElement("script");
		js.src = "../test/mocha-2.2.5.js";
		head.appendChild(js);

		js = document.createElement("script");
		js.src = "../test/chai-4.1.2.min.js";
		head.appendChild(js);

		$('#mocha')
			.css('display','')
			.css('margin','0')
			.css('border','10px solid green')
			.css('z-index','10000')
			.css('position','absolute')
			.css('top','80%')
			.css('width','100%')
			.css('height','400px')
			.css('background','white')
			.css('overflow-x','scroll');

		logger.debug('Interface 1');
		setTimeout(()=>{
			mocha.setup('bdd');

			js = document.createElement("script");
			js.src = "../test/interface_test_login.js";
			head.appendChild(js);

			js = document.createElement("script");
			js.src = "../test/interface_test_resetPassword.js";
			head.appendChild(js);

			js = document.createElement("script");
			js.src = "../test/interface_test_register.js";
			head.appendChild(js);

			js = document.createElement("script");
			js.src = "../test/interface_test_registerVerify.js";
			head.appendChild(js);

			mocha.checkLeaks();
			mocha.globals(['jQuery']);
			assert = chai.assert;

			sandbox = sinon.createSandbox();
		},1000);


		logger.debug('Starting interface tests');
		setTimeout(()=>{
			mocha.run();
		},2000);

	}


	let queueCheckTimer = null;

	let vm = new Vue({
		el: '#app',
		created: async function () {
			const self = this;
			this.show_spinner = true;

			// try to catch the back button
			document.addEventListener("backbutton", function () {
				logger.info('back button used');
				if (vm.page_visible > vm.PAGE_MAIN_LIST) {
					vm.page_visible = vm.PAGE_LOGIN;
				}
				else {
					vm.page_visible = vm.PAGE_MAIN_LIST;
				}
			}, false);

			// set the initial page
			this.page_visible = this.PAGE_LOGIN;
			if (await current_user.isLoggedIn()) {
				// retrieve user info from storage
				await current_user.getFromStorage();
				this.real_name = current_user.name;
				if (_.isEmpty(this.real_name)) {
					this.real_name = current_user.username;
                }
				this.username = current_user.username;
				this.phone = current_user.phone;
				this.email = current_user.email;
				this.is_username_disabled = true;
				store.setItem('Clinicoin_First', 1);
			}
			else {
				const BeenHereBefore = await store.getItem('Clinicoin_First', 0);
				logger.debug("BeenHereBefore = " + BeenHereBefore);

				if (BeenHereBefore==null || BeenHereBefore==0) {
					this.page_visible = this.PAGE_INITIAL;
				}
			}

			// attach the delegates
			channels.newChannelEventDelegate = this.newChannelEvent;
			channels.newMessageEventDelegate = this.newMessageEvent;

			this.show_spinner = false;
		},
		methods: {
			showErrorToast: function (message) {
				this.error_message = message;
				this.show_error_toast_value = 1;
				logger.error(message);
			},
			showInfoToast: function (message) {
				this.info_message = message;
				this.show_info_toast_value = 1;
				logger.info(message);
			},
			showSuccessToast: function (message) {
				this.success_message = message;
				this.show_success_toast_value = 1;
				logger.debug(message);
			},
			skipTour: function () {
				this.page_visible = this.PAGE_REGISTER;
			},
			changeCarouselItem: function () {
				$('.carousel__right').find('button').click();
			},
			updateChannels: async function()
			{
				// fill channel list data
				let data_list = [];
				await channels.getChannels();

				channels.channel_list.forEach((channel) => {
					let last_message = _.last(channel.messages);

					if (_.isEmpty(last_message)) {
						last_message = new Message();
						last_message.Body = '(no messages)';
						last_message.SentDate = moment().toISOString();
						last_message.ReadDate = moment().toISOString();
					}

					data_list.push({
						title: channel.friendly_name,
						username: channel.recipient_user_id,
						subtitle: last_message.Body,
						message_time: last_message.getFriendlyTime(),
						isRead: last_message.isRead(),
						count: channel.messages.length
					});
				});
				this.channels = data_list;
			},
			newChannelEvent: function()
			{
				logger.debug("newChannelEvent Fired");
				this.updateChannels();
			},
			newMessageEvent: function(channel, message)
			{
				logger.debug("newMessageEvent Fired "+channel.recipient_user_id);
				logger.debug("active channel "+this.active_channel.username);
				if (channel.recipient_user_id === this.active_channel.username) {
					logger.debug("adding to active list");
					this.refreshActiveList();
                }
				this.updateChannels();

				cordova.plugins.notification.local.schedule({
					title: 'Clinicoin - '+channel.friendly_name,
					text: message.Body,
					foreground: true,
					led: { color: '#00FF00', on: 500, off: 500 },
					vibrate: false
				});
			},
			loginUser: async function () {
				if (_.isEmpty(this.username)) {
					this.showErrorToast('username cannot be empty');
				}
				else if (_.isEmpty(this.password)) {
					this.showErrorToast('password cannot be empty');
				}
				else {
					this.show_spinner = true;

					current_user.username = this.username;
					current_user.setAwsPassword(this.password);

					if (await current_user.login()) {
						this.updateChannels();
						this.page_visible = this.PAGE_MAIN_LIST;
						store.setItem('Clinicoin_First', 1);

						await current_user.getFromStorage();
						this.phone = current_user.phone;
						this.email = current_user.email;

						// set check timer
						queueCheckTimer = setInterval(this.checkQueue, 30000);

						current_user.getActivities().then((result)=>{
							vm.user_activity_history = result;
						});
					}
					else {
						if (current_user.is_first_login) {
							// try again if this is our first time
                            await this.sleep(1000);
							this.loginUser();
                        }
                        else {
							this.showErrorToast(current_user.last_error_message);
						}
					}
					this.show_spinner = false;
				}
			},
            sleep: async function(ms)
            {
	            return new Promise(resolve => setTimeout(resolve, ms));
            },
            checkQueue: async function()
            {
	            vm.is_updating = true;
	            await channels.checkForMessages();
	            vm.is_updating = false;
            },
			showforgotPasswordConfirm: function () {
				if (_.isEmpty(this.username)) {
					this.showErrorToast('username cannot be empty');
				}
				else {
					this.show_forgot_password_dialog = true;
				}
			},
			cancelForgotPassword: function () {
				this.show_forgot_password_dialog = false;
				this.page_visible = this.PAGE_LOGIN;
			},
			sendforgotPassword: async function () {
				current_user.username = this.username;
				const send_result = await current_user.userForgotPassword();
				if (send_result) {
					this.showInfoToast('Password reset message sent');
					this.page_visible = this.PAGE_RESET_PASSWORD;
				}
				else {
					this.showErrorToast(current_user.last_error_message);
				}
				this.show_forgot_password_dialog = false;
			},
			resetForgotPassword: async function () {
				if (_.isEmpty(this.reset_code)) {
					this.showErrorToast('code cannot be empty');
				}
				else if (_.isEmpty(this.password)) {
					this.showErrorToast('password cannot be empty');
				}
				else if (this.password !== this.confirm) {
					this.showErrorToast('password and confirmation do not match');
				}
				else if (!current_user.isComplexPassword(this.password)) {
					this.showErrorToast('Password is not sufficiently complex. It requires at least 8 letters, upper and lower case, numbers, and non-letter/number characters.');
				}
				else {
					const result = await current_user.forgotPasswordReset(this.reset_code, this.password);
					if (result) {
						this.showSuccessToast('Password reset successful');

						this.page_visible = this.PAGE_LOGIN;

						// try to log them in?
						if (this.auto_login) {
							this.loginUser();
						}
					}
					else {
						this.showErrorToast("Reset Failed: " + current_user.last_error_message);
					}
				}
			},
			showRegistration: function () {
				this.page_visible = this.PAGE_REGISTER;
			},
			registerUser: async function () {
				if (_.isEmpty(this.username.trim())) {
					this.showErrorToast('username cannot be empty');
				}
				else if (_.isEmpty(this.email.trim())) {
					this.showErrorToast('email cannot be empty');
				}
				else if (!/[A-Z0-9._%+-]+@[A-Z0-9.-]+\.[A-Z]{2,}/i.test(this.email.trim())) {
					this.showErrorToast('email pattern not matched');
				}
				else if (_.isEmpty(this.phone.trim())) {
					this.showErrorToast('phone cannot be empty');
				}
				else if (_.isEmpty(this.password.trim())) {
					this.showErrorToast('password cannot be empty');
				}
				else if (this.password.trim() !== this.confirm.trim()) {
					this.showErrorToast('password and confirmation do not match');
				}
				else if (!current_user.isComplexPassword(this.password.trim())) {
					this.showErrorToast('Password is not sufficiently complex. It requires at least 8 letters, upper and lower case, numbers, and non-letter/number characters.');
				}
				else {
					this.show_spinner = true;

					current_user.email = this.email.trim();
					current_user.phone = this.phone.trim();
					current_user.username = this.username.trim();
					current_user.setAwsPassword(this.password.trim());

					const result = await current_user.registerUser();
					if (result) {
						this.showSuccessToast('User registered, verfication sent');
						this.page_visible = this.PAGE_REGISTER_VERIFY;
					}
					else {
						this.showErrorToast(current_user.last_error_message);
					}

					this.show_spinner = false;
				}
			},
			isPasswordComplex: function () {
				if (!current_user.isComplexPassword(this.password.trim())) {
					return 'Password is not sufficiently complex';
				}
				return true;
			},
			isPasswordAndConfirmMatched: function () {
				if (this.password !== this.confirm) {
					return "Password and confirmation do not match";
				}
				return true;
			},
			confirmUserRegistration: async function () {
				if (_.isEmpty(this.register_code.trim())) {
					this.showErrorToast('code cannot be empty');
				}
				else {
					this.show_spinner = true;
					const result = await current_user.verifyConfirmationCode(this.register_code.trim());
					if (result) {
						this.showSuccessToast('Code confirmation successful, attempting login');

						await Vue.nextTick();
						await this.sleep(1000);

						current_user.is_first_login = true;
						this.page_visible = this.PAGE_LOGIN;

						// try to log them in?
						if (this.auto_login) {
							this.loginUser();
						}
					}
					else {
						this.showErrorToast(current_user.last_error_message);
					}
					this.show_spinner = false;
				}
			},
			resendConfirmation: async function () {
				const result = await current_user.resendConfirmationCode();
				if (result) {
					this.showInfoToast('Registration confirmation code re-sent');
				}
				else {
					this.showErrorToast(current_user.last_error_message);
				}
			},
			messageListSelected: function (selected_user) {
				this.page_visible = this.PAGE_MESSAGING;
				current_message_list = _.find(channels.channel_list, {"recipient_user_id": selected_user});
				this.active_channel.username = current_message_list.recipient_user_id;
				this.active_channel.friendly_name = current_message_list.friendly_name;
				this.refreshActiveList();
			},
			sendUserMessage: async function () {
				if (this.outgoing_message.trim().length === 0) {
					this.showErrorToast('No message to send');
				}
				else {
					const msg = await current_message_list.sendMessage(this.outgoing_message);
					if (msg.SendStatus === 'Sent') {
						this.showSuccessToast('Message Sent');
						this.refreshActiveList();
					}
					else {
						this.showErrorToast(current_message_list.last_error_message);
					}
				}
			},
			refreshActiveList: function()
			{
				const active_channel = channels.findByUsername(this.active_channel.username);

				let message_list = [];
				current_message_list.messages.forEach(function (msg) {
					message_list.push({
						Sender: msg.Sender,
						Body: msg.Body,
						SentDate: msg.SentDate
					})
				});
				this.active_channel.messages = message_list;

				current_message_list.markRead();

				// scroll to bottom
				setTimeout(() => {
					$('#messaging_list').scrollTop($('#messaging_list')[0].scrollHeight);
				}, 100);
			},
			showQRCode: function () {
				this.page_visible = this.PAGE_QRCODE;
				const qr = new QRious({
					element: document.getElementById('qr'),
					value: 'https://www.clinicoin.com/connect/' + vm.username,
					size: 300
				});
			},
			showAddConnection: function () {
				this.page_visible = this.PAGE_CONNECT;
			},
			showScanBarcode: function () {
				cordova.plugins.barcodeScanner.scan(
					async function (result) {
						if (!result.cancelled) {
							logger.debug("Result: " + result.text + ", format: " + result.format);
							vm.add_name = result.text;
							await Vue.nextTick();
							vm.connectUser();
                        }
                        else {
							logger.debug('Scan canelled');
                        }
					},
					function (error) {
						logger.debug("Scanning failed: " + error);
						this.showErrorToast("Scanning failed: " + error);
					},
					{
						preferFrontCamera : false, // iOS and Android
						showFlipCameraButton : true, // iOS and Android
						showTorchButton : true, // iOS and Android
						torchOn: false, // Android, launch with the torch switched on (if available)
						saveHistory: true, // Android, save scan history (default false)
						prompt : "Place a barcode inside the scan area", // Android
						resultDisplayDuration: 500, // Android, display scanned text for X ms. 0 suppresses it entirely, default 1500
						formats : "QR_CODE,PDF_417", // default: all but PDF_417 and RSS_EXPANDED
						orientation : "portrait", // Android only (portrait|landscape), default unset so it rotates with the device
						disableAnimations : true, // iOS
						disableSuccessBeep: false // iOS and Android
					}
				);
			},
			connectUser: async function () {
				if (_.isEmpty(this.add_name.trim())) {
					this.showErrorToast('username cannot be empty');
				}
				else {
					this.show_spinner = true;
					this.add_name = this.add_name.replace(/https:\/\/www\.clinicoin\.com\/connect\//i, "");
					current_message_list.recipient_user_id = this.add_name.trim();
					current_message_list.friendly_name = this.add_name.trim();
					if (await current_message_list.getRecipientPublicKey()) {
						this.showSuccessToast('Connected Successfully to ' + this.add_name.trim());
						current_message_list.saveSettings();
						channels.channel_list.push(current_message_list);
						this.messageListSelected(this.add_name.trim());
					}
					else {
						this.showErrorToast('Could not connect to ' + this.add_name.trim() + ', ' + current_message_list.last_error_message);
					}
					this.show_spinner = false;
				}
			},
			logoutUser: function () {
				this.is_username_disabled = false;
				clearInterval(queueCheckTimer);
				current_user.logout();
				this.page_visible = this.PAGE_INITIAL;
				this.showInfoToast('User signed out');
			},
			updateSettings: function () {
				if (_.isEmpty(this.email.trim())) {
					this.showErrorToast('email cannot be empty');
				}
				else if (_.isEmpty(this.phone.trim())) {
					this.showErrorToast('phone cannot be empty');
				}
				else {
					current_user.updateUserAttribute('email', this.email);
					current_user.updateDynamoAttribute('email', this.email);
					current_user.updateUserAttribute('phone_number', this.phone);
					current_user.updateDynamoAttribute('phone_number', this.phone);
					this.showSuccessToast('User settings updated')
				}
			},
			updatePassword: async function () {
				if (_.isEmpty(this.username.trim())) {
					this.showErrorToast('username cannot be empty');
				}
				else if (_.isEmpty(this.password.trim())) {
					this.showErrorToast('password cannot be empty');
				}
				else if (this.password.trim() !== this.confirm.trim()) {
					this.showErrorToast('password and confirmation do not match');
				}
				else if (!current_user.isComplexPassword(this.password.trim())) {
					this.showErrorToast('Password is not sufficiently complex. It requires at least 8 letters, upper and lower case, numbers, and non-letter/number characters.');
				}
				else {
					this.show_spinner = true;
					current_user.email = this.email.trim();
					current_user.phone = this.phone.trim();
					current_user.username = this.username.trim();
					current_user.setAwsPassword(this.password.trim());

					const result = await current_user.changeUserPassword(this.password.trim());
					if (result) {
						this.showSuccessToast('Password updated');
						this.page_visible = this.PAGE_REGISTER_VERIFY;
					}
					else {
						this.showErrorToast(current_user.last_error_message);
					}
					this.show_spinner = false;
				}
			},
			showActivity: function()
			{
				this.page_visible = vm.PAGE_ACTIVITY;
			},
			logActivity: async function()
			{
				if (_.isEmpty(this.activity_type.trim())) {
					this.showErrorToast('activity type cannot be empty');
				}
				else if (_.isEmpty(this.activity_unit.trim())) {
					this.showErrorToast('activity unit cannot be empty');
				}
				else if (_.isEmpty(this.activity_amount.trim())) {
					this.showErrorToast('activity amount cannot be empty');
				}
				else {
					const act = await current_user.addActivity(this.activity_type.trim(), this.activity_amount.trim(), this.activity_unit.trim());
                    this.user_activity_history.push(act);
					this.showSuccessToast('Activity Logged');
				}
			},
			sendSupportMessage: function()
			{
				if (_.isEmpty(this.support_subject.trim())) {
					this.showErrorToast('subject cannot be empty');
				}
				else if (_.isEmpty(this.support_message.trim())) {
					this.showErrorToast('message cannot be empty');
				}
				else {
					current_user.sendSupportRequest(this.support_subject.trim(), this.support_message.trim());
					this.showSuccessToast('Support request sent');
				}
			},
		},
		data()
		{
			return {
				real_name: '',
				username: 'demouser',
				is_username_disabled: false,
				email: 'chdemo30@mailsac.com',
				phone: '9995551212',
				password: 'ffDemo@1234',
				new_password: '',
				confirm: 'ffDemo@1234',
				reset_code: '',
				register_code: '',
				add_name: '',
				page_visible: 0,
				show_spinner: 0,
				show_forgot_password_dialog: 0,

				show_error_toast_value: 0,
				show_info_toast_value: 0,
				show_success_toast_value: 0,
				error_message: 'an error',
				info_message: 'some info',
				success_message: 'success',
				outgoing_message: '',
                auto_login: true,

				activity_type: '',
				activity_unit: '',
				activity_amount: 0,
				activity_unit_list:["Minutes","Hours","Miles","Kilometers","Meters","Reps","Sets","Laps","Steps"],
				activity_type_list:["Biked","Danced","Exercise Class’d","Gym’d","Hiked","Lifted Weights","Martial Arts’d","Meditated","Parkour’d","Played a Sport","Ran","Surfed","Swam","Walked","Yoga’d","Other"],
                activity_amount_list: [],
                user_activity_history: [],

				support_message: '',
				support_subject: '',

				login_pw_visible: false,
				register_pw_visible: false,
				register_confirm_visible: false,
				is_updating: false,

				PAGE_INITIAL: 0,
				PAGE_TOUR: 1,
				PAGE_LOGIN: 2,
				PAGE_REGISTER: 3,
				PAGE_RESET_PASSWORD: 4,
				PAGE_REGISTER_VERIFY: 5,
				PAGE_MAIN_LIST: 6,
				PAGE_MESSAGING: 7,
				PAGE_CONNECT: 8,
				PAGE_QRCODE: 9,
				PAGE_ACTIVITY: 10,
				PAGE_SETTINGS: 11,
				PAGE_ACCOUNT_SETTINGS: 12,
				PAGE_SUPPORT: 13,
				PAGE_ABOUT: 14,

				tour_images: [
					{src: 'img/tour1.png'},
					{src: 'img/tour2.png'},
					{src: 'img/tour3.png'},
					{src: 'img/tour4.png'}
				],

				channels: [],
				active_channel: {
					username: "demouser",
					friendly_name: "channel",
					messages: []
				}
			};
		},
		computed: {
			// a computed getter
			currentUserData: function () {
				// `this` points to the vm instance
				return current_user;
			}
		}
	});

	const writeTestData = function () {
		current_user.username = 'demouser';
		current_user.awsSub = 'awssub';
		current_user.email = 'demouser@mailsac.com';
		current_user.email_verified = true;
		current_user.phone = '4157896412';
		current_user.phone_verified = false;
		current_user.name = 'Daaron';
		current_user.setInStorage();

		let list = new MessageList();
		list.friendly_name = 'Bart Simpson';
		list.recipient_user_id = 'bsimpson';
		list.recipient_public_key = '';
		list.last_public_key_retrieval = '2017-01-01';
		list.message_group_id = '1';
		list.saveSettings();
		let msg = new Message();
		msg.Username = 'bsimpson';
		msg.Sender = 'bsimpson';
		msg.Body = 'Cowabunga';
		msg.SentDate = '2018-01-01 12:38:23';
		msg.ReceiveDate = '2018-01-01 12:39:11';
		list.saveMessage(msg);
		list.messages.push(msg);
		msg.Username = 'bsimpson';
		msg.Sender = 'me';
		msg.Body = 'Whut?';
		msg.SentDate = '2018-01-01 12:38:43';
		msg.ReceiveDate = '2018-01-01 12:39:41';
		list.messages.push(msg);
		list.saveMessage(msg);

		list = new MessageList();
		list.friendly_name = 'Beavis';
		list.recipient_user_id = 'beavis';
		list.recipient_public_key = '';
		list.last_public_key_retrieval = '2017-01-01';
		list.message_group_id = '1';
		list.saveSettings();
		msg = new Message();
		msg.Username = 'beavis';
		msg.Sender = 'beavis';
		msg.Body = 'Are you threatening me?';
		msg.SentDate = '2018-01-01 12:38:23';
		msg.ReceiveDate = '2018-01-01 12:39:11';
		list.saveMessage(msg);
		list.messages.push(msg);
		msg.Username = 'beavis';
		msg.Sender = 'me';
		msg.Body = 'huh?';
		msg.SentDate = '2018-01-01 12:40:43';
		msg.ReceiveDate = '2018-01-01 12:41:41';
		list.messages.push(msg);
		list.saveMessage(msg);
		msg = new Message();
		msg.Username = 'beavis';
		msg.Sender = 'beavis';
		msg.Body = 'Are you threatening me?';
		msg.SentDate = '2018-01-01 12:42:23';
		msg.ReceiveDate = '2018-01-01 12:43:11';
		list.saveMessage(msg);
		list.messages.push(msg);
		msg.Username = 'beavis';
		msg.Sender = 'me';
		msg.Body = 'huh?';
		msg.SentDate = '2018-01-01 12:44:43';
		msg.ReceiveDate = '2018-01-01 12:45:41';
		list.messages.push(msg);
		list.saveMessage(msg);
		msg = new Message();
		msg.Username = 'beavis';
		msg.Sender = 'beavis';
		msg.Body = 'Are you threatening me?';
		msg.SentDate = '2018-01-01 12:46:23';
		msg.ReceiveDate = '2018-01-01 12:47:11';
		list.saveMessage(msg);
		list.messages.push(msg);
		msg.Username = 'beavis';
		msg.Sender = 'me';
		msg.Body = 'huh?';
		msg.SentDate = '2018-01-01 12:48:43';
		msg.ReceiveDate = '2018-01-01 12:49:41';
		list.messages.push(msg);
		list.saveMessage(msg);
		msg = new Message();
		msg.Username = 'beavis';
		msg.Sender = 'beavis';
		msg.Body = 'Are you threatening me?';
		msg.SentDate = '2018-01-01 12:50:23';
		msg.ReceiveDate = '2018-01-01 12:51:11';
		list.saveMessage(msg);
		list.messages.push(msg);
		msg.Username = 'beavis';
		msg.Sender = 'me';
		msg.Body = 'huh?';
		msg.SentDate = '2018-01-01 12:52:43';
		msg.ReceiveDate = '2018-01-01 12:53:41';
		list.messages.push(msg);
		list.saveMessage(msg);
		msg = new Message();
		msg.Username = 'beavis';
		msg.Sender = 'beavis';
		msg.Body = 'Are you threatening me?';
		msg.SentDate = '2018-01-01 12:54:23';
		msg.ReceiveDate = '2018-01-01 12:54:41';
		list.saveMessage(msg);
		list.messages.push(msg);
		msg.Username = 'beavis';
		msg.Sender = 'me';
		msg.Body = 'huh?';
		msg.SentDate = '2018-01-01 12:55:43';
		msg.ReceiveDate = '2018-01-01 12:55:48';
		list.messages.push(msg);
		list.saveMessage(msg);
		msg = new Message();
		msg.Username = 'beavis';
		msg.Sender = 'beavis';
		msg.Body = 'Are you threatening me?';
		msg.SentDate = '2018-01-01 12:56:23';
		msg.ReceiveDate = '2018-01-01 12:56:51';
		list.saveMessage(msg);
		list.messages.push(msg);
		msg.Username = 'beavis';
		msg.Sender = 'me';
		msg.Body = 'huh?';
		msg.SentDate = '2018-01-01 12:57:13';
		msg.ReceiveDate = '2018-01-01 12:57:41';
		list.messages.push(msg);
		list.saveMessage(msg);
	};
</script>