/**/

.badge {
    background-color: rgba(24, 103, 194, .81);
    border: 1px solid rgba(24, 103, 194, .81);
    border-radius: 5px;
    color:white;
    float: right;
    padding: 5px;
}

.message {
    border-radius:5px;
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.75);
    font-size: medium;      
    padding: 3px 5px 3px 5px; 
}

.message-sent {
    float:right;
    border: 1px solid red;
}

.message-received {
    float:left;
    border: 1px solid blue;
}